<%- include('header');-%>

  <div class="box" >

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula pellentesque lacus sed tincidunt. Morbi luctus, mauris et dictum cursus, libero odio consectetur turpis, a scelerisque metus orci at diam. Nam massa nunc, tincidunt sit amet feugiat at, porttitor vel erat. Aliquam id sagittis orci, in gravida odio. Nam ornare nibh quis massa pretium vestibulum. Ut ultrices rhoncus vulputate. Sed lobortis ante a elementum tincidunt. Vivamus nec pulvinar arcu. Pellentesque tempus congue nibh, maximus pharetra arcu condimentum vel. Sed imperdiet facilisis lectus id auctor.

Integer in nisl vehicula risus lacinia imperdiet. Sed scelerisque rutrum risus eu porta. Donec gravida dignissim arcu, nec gravida felis rhoncus vel. Nulla id egestas nunc. Aenean suscipit varius ipsum, pretium eleifend urna bibendum ut. Nam eget neque accumsan, tincidunt nibh quis, mollis ante. Sed sit amet mauris id nisl tempor aliquet. Phasellus eu fringilla urna, sed mattis massa. Nulla est leo, aliquam in nisi nec, tincidunt auctor tellus. Sed rhoncus fermentum est, at condimentum nibh pellentesque vitae. Sed ut aliquam dui. In a nunc vel tellus placerat consequat. In hac habitasse platea dictumst. Cras a felis placerat, luctus massa at, scelerisque turpis. Aliquam egestas quis magna nec fermentum. Pellentesque in orci at sapien gravida sagittis.</p>
  </div>

<footer> ©️ Alankar Singh</footer>
